body {
    /*background-color: #FF6F62;*/
}
.main-card {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;/*居中*/
    margin-top: 20px;
}
/*登录、注册页面错误报错信息*/
.error {
    color: #d72828;
    font-size: 12px;
}
.title-head {
    margin-top: 20px;
    margin-bottom: 10px;
}