<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>管理员首页</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/materialize.min.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base_layout.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/admin_process.css}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">cloud_queue</i>基金交易系统</a>
            <ul class="right">
                <li><a th:href="@{/admin/index.html}"><i class="material-icons left">account_balance</i>当前状态</a></li>
                <li class="active" shiro:hasRole="admin_trade"><a th:href="@{/admin/trade/index.html}"><i class="material-icons left">gavel</i>业务交易</a></li>
                <li shiro:hasRole="admin_maintain"><a th:href="@{/admin/maintain/index.html}"><i class="material-icons left">view_quilt</i>业务维护</a></li>
                <li shiro:hasRole="admin_process"><a th:href="@{/admin/process/index.html}"><i class="material-icons left">call_merge</i>流程控制</a></li>
                <li shiro:hasRole="admin_user"><a th:href="@{/admin/user/index.html}"><i class="material-icons left">vpn_key</i>系统管理</a></li>
                <li th:if="${session.user != null}">
                    <a class="dropdown-button nav-user" href="#!" data-activates="dropdown_id"><i class="material-icons left">person</i><span th:text="${session.user.nikename}"></span><i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_id" class="dropdown-content">
                        <li><a th:href="@{/login.html}">重新登录</a></li>
                        <li><a th:href="@{/anon/dologout.do}">安全退出</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">个人页面</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row main-container">
    <!-- 次级导航栏 -->
    <div class="col s2 main-container-nav">
        <a th:href="@{/admin/trade/offertobuy.html}"><div class="main-container-nav-item">认购</div></a>
        <a th:href="@{/admin/trade/applytobuy.html}"><div class="main-container-nav-item">申购</div></a>
        <a th:href="@{/admin/trade/atonefor.html}"><div class="main-container-nav-item">赎回</div></a>
        <a th:href="@{/admin/trade/income.html}"><div class="main-container-nav-item main-container-nav-item-active">资金存入</div></a>
        <a th:href="@{/admin/trade/expend.html}"><div class="main-container-nav-item">资金支出</div></a>
        <a th:href="@{/admin/trade/accoopen.html}"><div class="main-container-nav-item">开户</div></a>
    </div>
    <!-- 主内容 -->
    <div class="col s10 offset-s2">
        <div class="container">
            <div class="card z-depth-4 main-card">
                <div class="card-content">
                    <span class="card-title">资金存入</span>
                    <form id="addForm" class="row main-card-content" method="post" autocomplete="off">
                        <div class="col s4">
                            <label for="tradeAcco_id">交易账号</label>
                            <input id="tradeAcco_id" type="text" class="required" name="tradeAcco"/>
                        </div>
                        <div class="col s4">
                            <label for="moneyType_id">币种</label>
                            <select id="moneyType_id" class="browser-default select-box required" type="text" name="moneyType">
                                <option value="105">人民币</option>
                                <option value="344">港币</option>
                                <option value="840">美元</option>
                                <option value="978">欧元</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="manageRatio_id">金额</label>
                            <input id="manageRatio_id" type="text" class="required {decimal_19_2:true}" name="count"/>
                        </div>
                        <div class="col s4">
                            <label for="bankAcco_id">系统清算账户</label>
                            <select id="bankAcco_id" type="text" class="browser-default select-box required" name="bankAcco">
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="password_id">密码</label>
                            <input id="password_id" type="password" class="required" minlength="4" maxlength="20" name="password"/>
                        </div>
                        <div class="col s4">
                            <label for="re_password_id">密码确认</label>
                            <input id="re_password_id" type="password" class="required" minlength="4" maxlength="20" equalTo="#password_id" name="rePassword"/>
                        </div>
                        <div class="row">
                            <button id="commit_id" class="btn waves-effect waves-light col s4 offset-s4">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="suceessModal" class="modal">
    <div class="modal-content">
        <h4>资金存入成功</h4>
    </div>
    <div class="modal-footer">
        <a id="yes" class=" modal-action modal-close waves-effect waves-green btn-flat">确定</a>
    </div>
</div>

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.metadata.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/base_layout.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*-------------------------------------------
     |                页 面 渲 染               |
     ============================================*/
    $(document).ready(function(){
        var selectItemMap = /*[[${selectItemMap}]]*/"";
        $("#bankAcco_id").initSelect("bankAccoSelect", selectItemMap);
    });

    $(document).ready(function(){
        /** 表单提交 */
        $("#addForm").validate({
            submitHandler: function (form) {
                $("#commit_id").addClass("disabled");
                $.ajaxSetup({contentType: "application/json; charset=utf-8"});
                var actionUrl = /*[[@{/admin/trade/addincome.json}]]*/"";
                var params = $(form).serializeJson();
                $.post(actionUrl, JSON.stringify(params), function (response) {
                    if(response.resultCode == 1) { // 成功

                        $("#suceessModal").find(".modal-content").append("<p>交易账号：" + response.data.tradeAcco + "</p>");
                        $("#suceessModal").find(".modal-content").append("<p>存入账户：" + response.data.bankAcco + "</p>");
                        $("#suceessModal").find(".modal-content").append("<p>申请编号：" + response.data.requestNo + "</p>");
                        $('#suceessModal').modal('open');

                    } else { // 失败
                        Materialize.toast(response.errorInfo, 3000);
                        $("#commit_id").removeClass("disabled");
                    }
                });
            }
        });

        $("#yes").click(function(){
            $("#commit_id").removeClass("disabled");
            $('#suceessModal').modal('close');
            window.location.reload(); //成功后刷新界面
        });

    });
    /*]]>*/
</script>
</body>
</html>