<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.AdminInfoDao">
    <insert id="create" parameterType="AdminInfo">
        INSERT INTO `admininfo`(username, vc_netno, mobile, email, address) VALUES (#{username}, #{netno}, #{mobile}, #{email}, #{address})
    </insert>

    <delete id="deleteByUsername" parameterType="java.lang.String">

    </delete>

    <update id="update" parameterType="AdminInfo">

    </update>

    <select id="queryByUsername" parameterType="java.lang.String" resultType="AdminInfo">
        SELECT <include refid="selectColumns" /> FROM admininfo WHERE username = #{username}
    </select>

    <sql id="selectColumns">
        id, username, vc_netno netno, mobile, email, address
    </sql>
</mapper>