<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.DealProcessDao">
    <select id="queryAll" resultType="DealProcess">
        SELECT id, vc_procedurcode procedurCode, vc_name name, l_state state FROM deal_process
    </select>

    <update id="update" parameterType="DealProcess">
        UPDATE deal_process SET l_state = #{state} WHERE vc_procedurcode = #{procedurCode}
    </update>

    <update id="setInit">
        UPDATE deal_process SET l_state = 0
    </update>
</mapper>