<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.DynamicSelectDao">

    <select id="selectNetStation" resultType="me.zji.dto.SelectItem">
        SELECT vc_netno item, vc_netname caption FROM netstation
    </select>

    <select id="selectTaCode" resultType="me.zji.dto.SelectItem">
        SELECT vc_tacode item, vc_taname caption FROM ta
    </select>

    <select id="selectBankAccoInfo" resultType="me.zji.dto.SelectItem">
        SELECT vc_bankacco item, vc_name caption FROM bankaccoinfo ORDER BY id LIMIT 1
    </select>

</mapper>