<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.ProductInfoDao">
    <insert id="create" parameterType="ProductInfo">
        INSERT INTO `product_info`(vc_productcode, vc_productname, vc_tacode, c_productcategory, c_productoperation, c_investregion, c_investdirection,
          c_moneytype, en_manageratio, c_chargetype, c_productstatus, c_productrisklevel, vc_bankacco, c_dividendmethod, vc_issuestartdate)
        VALUES (#{productCode}, #{productName}, #{taCode}, #{productCategory}, #{productOperation}, #{investRegion}, #{investDirection}, #{moneyType}, #{manageRatio},
          #{chargeType}, #{productStatus}, #{productRiskLevel}, #{bankAcco}, #{dividendMethod}, #{issueStartDate})
    </insert>

    <select id="queryByProductCode" parameterType="java.lang.String" resultType="ProductInfo">
        SELECT <include refid="selectColumns" /> FROM product_info WHERE vc_productcode = #{productCode}
    </select>

    <select id="queryByProductStatus" parameterType="java.util.Map" resultType="ProductInfo">
        SELECT <include refid="selectColumns" /> FROM product_info
        <where>
            1 = 1
            <if test="productStatus != null and productStatus != ''">
                and c_productstatus = #{productStatus}
            </if>
        </where>
    </select>

    <select id="queryAll" resultType="ProductInfo">
        SELECT <include refid="selectColumns" /> FROM product_info
    </select>

    <sql id="selectColumns">
        id, vc_productcode productCode, vc_productname productName, vc_tacode taCode, c_productcategory productCategory,
        c_productoperation productOperation, c_investregion investRegion, c_investdirection investDirection,
        c_moneytype moneyType, en_manageratio manageRatio, c_chargetype chargeType, c_productstatus productStatus,
        c_productrisklevel productRiskLevel, vc_bankacco bankAcco, c_dividendmethod dividendMethod, vc_issuestartdate issueStartDate
    </sql>

</mapper>