<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.StaticShareDao">
    <insert id="create" parameterType="StaticShare">
        INSERT INTO staticshare(vc_productcode, vc_taacco, en_share, en_enshare, en_imshare)
        VALUES (#{productCode}, #{taAcco}, #{share}, #{enShare}, #{imShare})
    </insert>

    <update id="update" parameterType="StaticShare">
        UPDATE staticshare SET en_share = #{share}, en_enshare = #{enShare}, en_imshare = #{imShare}
        WHERE vc_productcode = #{productCode} and vc_taacco = #{taAcco}
    </update>

    <select id="queryByCodeAndAcco" parameterType="StaticShare" resultType="StaticShare">
        SELECT <include refid="selectColumns" /> FROM staticshare WHERE vc_productcode = #{productCode} and vc_taacco = #{taAcco}
    </select>

    <sql id="selectColumns">
        id, vc_productcode productCode, vc_taacco taAcco, en_share share, en_enshare enShare, en_imshare imShare
    </sql>

</mapper>