<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.SystemStaticBalanceDao">
    <insert id="create" parameterType="SystemStaticBalance">
        INSERT INTO systemstaticbalance(vc_bankacco, c_moneytype, en_balance)
        VALUES (#{bankAcco}, #{moneyType}, #{balance})
    </insert>

    <update id="update" parameterType="SystemStaticBalance">
        UPDATE systemstaticbalance SET en_balance = #{balance} WHERE vc_bankacco = #{bankAcco} and c_moneytype = #{moneyType}
    </update>

    <select id="queryByBankAccoAndMoneyType" parameterType="SystemStaticBalance" resultType="SystemStaticBalance">
        SELECT <include refid="selectColumns" /> FROM systemstaticbalance
        <where>
            1 = 1
            <if test="bankAcco != null and bankAcco != ''">
                and vc_bankacco = #{bankAcco}
            </if>
            <if test="moneyType != null and moneyType != ''">
                and c_moneyType = #{moneyType}
            </if>
        </where>
    </select>

    <sql id="selectColumns">
        id, vc_bankacco bankAcco, c_moneytype moneyType, en_balance balance
    </sql>

</mapper>