<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.TaDao">
    <insert id="create" parameterType="Ta">
        INSERT INTO `ta`(vc_tacode, vc_taname) VALUES (#{taCode}, #{taName})
    </insert>

    <select id="queryByCode" parameterType="java.lang.String" resultType="Ta">
        SELECT <include refid="selectColumns" /> FROM ta WHERE vc_tacode = #{taCode}
    </select>

    <sql id="selectColumns">
        id, vc_tacode taCode, vc_taname taName
    </sql>

</mapper>