<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zji.dao.TradeAccoDao">

    <select id="queryByTradeAcco" parameterType="java.lang.String" resultType="TradeAcco">
        SELECT <include refid="selectColumns" /> FROM tradeacco WHERE vc_tradeacco = #{tradeAcco}
    </select>

    <select id="queryByCustNo" parameterType="java.lang.String" resultType="TradeAcco">
        SELECT <include refid="selectColumns" /> FROM tradeacco WHERE vc_custno = #{custNo}
    </select>

    <sql id="selectColumns">
        id, vc_tradeacco tradeAcco, vc_custno custNo, vc_bankname bankName, vc_bankacco bankAcco, password, vc_opendate openDate
    </sql>

</mapper>