<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>管理员首页</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/materialize.min.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base_layout.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/admin_process.css}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">cloud_queue</i>基金交易系统</a>
            <ul class="right">
                <li><a th:href="@{/admin/index.html}"><i class="material-icons left">account_balance</i>当前状态</a></li>
                <li shiro:hasRole="admin_trade"><a th:href="@{/admin/trade/index.html}"><i class="material-icons left">gavel</i>业务交易</a></li>
                <li class="active" shiro:hasRole="admin_maintain"><a th:href="@{/admin/maintain/index.html}"><i class="material-icons left">view_quilt</i>业务维护</a></li>
                <li shiro:hasRole="admin_process"><a th:href="@{/admin/process/index.html}"><i class="material-icons left">call_merge</i>流程控制</a></li>
                <li shiro:hasRole="admin_user"><a th:href="@{/admin/user/index.html}"><i class="material-icons left">vpn_key</i>系统管理</a></li>
                <li th:if="${session.user != null}">
                    <a class="dropdown-button nav-user" href="#!" data-activates="dropdown_id"><i class="material-icons left">person</i><span th:text="${session.user.nikename}"></span><i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_id" class="dropdown-content">
                        <li><a th:href="@{/login.html}">重新登录</a></li>
                        <li><a th:href="@{/anon/dologout.do}">安全退出</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">个人页面</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row main-container">
    <!-- 次级导航栏 -->
    <div class="col s2 main-container-nav">
        <a th:href="@{/admin/maintain/day.html}"><div class="main-container-nav-item">工作日设置</div></a>
        <a th:href="@{/admin/maintain/productinfo.html}"><div class="main-container-nav-item main-container-nav-item-active">产品信息设置</div></a>
        <a th:href="@{/admin/maintain/netstation.html}"><div class="main-container-nav-item">网点设置</div></a>
        <a th:href="@{/admin/maintain/ta.html}"><div class="main-container-nav-item">TA信息设置</div></a>
        <a th:href="@{/admin/maintain/bankaccoinfo.html}"><div class="main-container-nav-item">系统银行账户设置</div></a>
    </div>
    <!-- 主内容 -->
    <div class="col s10 offset-s2">
        <div class="container">
            <div class="card z-depth-4 main-card">
                <div class="card-content">
                    <span class="card-title">产品信息设置</span>
                    <form id="addForm" class="row main-card-content" method="post" autocomplete="off">
                        <div class="col s4">
                            <label for="productCode_id">产品代码</label>
                            <input id="productCode_id" type="text" class="required {numberOrEnglish:true}" maxlength="6" name="productCode"/>
                        </div>
                        <div class="col s4">
                            <label for="productName_id">产品名称</label>
                            <input id="productName_id" type="text" class="required" name="productName"/>
                        </div>
                        <div class="col s4">
                            <label for="bankAcco_id">系统清算账户</label>
                            <select id="bankAcco_id" type="text" class="browser-default select-box required" name="bankAcco">
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="manageRatio_id">管理费率</label>
                            <input id="manageRatio_id" type="text" class="required {decimal_5_4:true}" name="manageRatio"/>
                        </div>
                        <div class="col s4">
                            <label for="issueStartDate_id">成立日期</label>
                            <input id="issueStartDate_id" type="date" class="datepicker required" name="issueStartDate"/>
                        </div>
                        <div class="col s4">
                            <label for="taCode_id">TA代码</label>
                            <select id="taCode_id" class="browser-default select-box" type="text" name="taCode">
                                <option value="0001">直销网点</option>
                                <option value="0002">代销网点</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="productCategory_id">产品类别</label>
                            <select id="productCategory_id" class="browser-default select-box" type="text" name="productCategory">
                                <option value="0">公募</option>
                                <option value="1">私募</option>
                                <option value="2">专户</option>
                                <option value="3">集合理财</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="productOperation_id">运作方式</label>
                            <select id="productOperation_id" class="browser-default select-box" type="text" name="productOperation">
                                <option value="0">开放式</option>
                                <option value="1">封闭式</option>
                                <option value="2">ETF</option>
                                <option value="3">LOF</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="investRegion_id">投资区域</label>
                            <select id="investRegion_id" class="browser-default select-box" type="text" name="investRegion">
                                <option value="0">境内</option>
                                <option value="1">境外</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="investDirection_id">投资投资方向</label>
                            <select id="investDirection_id" class="browser-default select-box" type="text" name="investDirection">
                                <option value="0">股票</option>
                                <option value="1">指数</option>
                                <option value="2">货币</option>
                                <option value="3">保本</option>
                                <option value="4">混合</option>
                                <option value="5">短期理财</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="moneyType_id">币种</label>
                            <select id="moneyType_id" class="browser-default select-box" type="text" name="moneyType">
                                <option value="105">人民币</option>
                                <option value="344">港币</option>
                                <option value="840">美元</option>
                                <option value="978">欧元</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="chargeType_id">收费类型</label>
                            <select id="chargeType_id" class="browser-default select-box" type="text" name="chargeType">
                                <option value="0">前收费</option>
                                <option value="1">后收费</option>
                                <option value="2">水平收费</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="productStatus_id">产品状态</label>
                            <select id="productStatus_id" class="browser-default select-box" type="text" name="productStatus">
                                <option value="0">认购</option>
                                <option value="1">申购</option>
                                <option value="2">基金终止</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="productRiskLevel_id">风险水平</label>
                            <select id="productRiskLevel_id" class="browser-default select-box" type="text" name="productRiskLevel">
                                <option value="0">低</option>
                                <option value="1">中</option>
                                <option value="2">高</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <label for="dividendMethod_id">分红方式</label>
                            <select id="dividendMethod_id" class="browser-default select-box" type="text" name="dividendMethod">
                                <option value="0">红利再投</option>
                                <option value="1">现金红利</option>
                            </select>
                        </div>

                        <div class="row">
                            <button id="commit_id" class="btn waves-effect waves-light col s4 offset-s4">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.metadata.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*-------------------------------------------
     |                页 面 渲 染               |
     ============================================*/
    $(document).ready(function(){
        var selectItemMap = /*[[${selectItemMap}]]*/"";
        // 处理网点
        {
            var taCodeSelect = selectItemMap.taCodeSelect;
            var taCodeSelectOptions = "";
            for(var i = 0; i < taCodeSelect.length; i ++) {
                taCodeSelectOptions += "<option value='" + taCodeSelect[i].item + "'>" + taCodeSelect[i].caption + "</option>";
            }
            $("#taCode_id").empty();
            $("#taCode_id").append(taCodeSelectOptions);
        }

        // 处理清算账户
        {
            var bankAccoSelect = selectItemMap.bankAccoSelect;
            var bankAccoSelectOptions = "";
            for(var i = 0; i < bankAccoSelect.length; i ++) {
                var element = bankAccoSelect[i];
                if (element == null){
                    continue;
                }
                bankAccoSelectOptions += "<option value='" + element.item + "'>" + element.caption + "</option>";
            }
            $("#bankAcco_id").empty();
            $("#bankAcco_id").append(bankAccoSelectOptions);
        }

        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 15,
            'format':'yyyy-mm-dd'
        });
    });

    $(document).ready(function(){
        /** 表单提交 */
        $("#addForm").validate({
            submitHandler: function (form) {
                $("#commit_id").addClass("disabled");
                $.ajaxSetup({contentType: "application/json; charset=utf-8"});
                var actionUrl = /*[[@{/admin/maintain/addproductinfo.json}]]*/"";
                var params = $(form).serializeJson();
                $.post(actionUrl, JSON.stringify(params), function (response) {
                    if(response.resultCode == 1) { // 成功
                        Materialize.toast('添加成功', 2000,'',function() {
                            $("#commit_id").removeClass("disabled");
                        });
                        window.location.reload(); //成功后刷新界面
                    } else { // 失败
                        Materialize.toast(response.errorInfo, 3000,'',function(){
                            $("#commit_id").removeClass("disabled");
                        });
                    }
                });
            }
        });

    });
    /*]]>*/
</script>
</body>
</html>