<!DOCTYPE html>
<html th:if="${session.user != null}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>鲜花在线订购</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/materialize.min.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base_layout.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/admin_process.css}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">store</i>鲜花在线订购</a>
            <ul class="right">
                <li><a th:href="@{/admin/index.html}"><i class="material-icons left">account_balance</i>当前状态</a></li>
                <li><a th:href="@{/admin/maintain/index.html}"><i class="material-icons left">view_quilt</i>鲜花管理</a></li>
                <li class="active"><a th:href="@{/admin/process/index.html}"><i class="material-icons left">call_merge</i>派送管理</a></li>
                <li th:if="${session.user != null}">
                    <a class="dropdown-button nav-user" href="#!" data-activates="dropdown_id"><i class="material-icons left">person</i><span th:text="${session.user.nikename}"></span><i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_id" class="dropdown-content">
                        <li><a th:href="@{/login.html}">重新登录</a></li>
                        <li><a th:href="@{/anon/dologout.do}">安全退出</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">个人页面</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row main-container">
    <!-- 主内容 -->
    <div class="col s12">
        <div class="container row">
            <div th:each="orderForm : ${data}" class="col s4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="${'产品：' + orderForm.flower.getName()}"></span>
                        <p th:text="${'用户：' + orderForm.getUser().getNikename()}"></p>
                        <p th:text="${'手机：' + orderForm.getUser().getUserDetail().getTel()}"></p>
                        <p th:text="${'地址：' + orderForm.getUser().getUserDetail().getAddress()}"></p>
                        <p th:text="${'数量：' + orderForm.getCount()}"></p>
                        <p th:text="${'状态：' + map.get(orderForm.getState())}"></p>
                        <p th:text="${'下单时间：' + orderForm.getDate()}"></p>
                    </div>
                    <div class="card-action">
                        <input class="order-form-id" type="hidden" th:value="${orderForm.getId()}"/>
                        <a href="javascript:void(0);" onclick="dispatch(this);">置派送</a>
                        <a href="javascript:void(0);" onclick="finish(this);">置完成</a>
                        <a href="javascript:void(0);" onclick="del(this);">删除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.metadata.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*-------------------------------------------
     |                页 面 渲 染               |
     ============================================*/

    function dispatch(t) {
        var id = $(t).parents(".card").find(".order-form-id").val();
        $.ajaxSetup({contentType: "application/json; charset=utf-8"});
        var actionUrl = /*[[@{/admin/process/dispatch.json}]]*/"";
        var params = {id: id};
        $.post(actionUrl, JSON.stringify(params), function (response) {
            if(response.resultCode == 1) { // 成功
                Materialize.toast('设置成功', 2000,'',function() {
                    window.location.reload(); //成功后刷新界面
                });
            } else { // 失败
                Materialize.toast(response.errorInfo, 3000,'');
            }
        });
    }

    function finish(t) {
        var id = $(t).parents(".card").find(".order-form-id").val();
        $.ajaxSetup({contentType: "application/json; charset=utf-8"});
        var actionUrl = /*[[@{/admin/process/finish.json}]]*/"";
        var params = {id: id};
        $.post(actionUrl, JSON.stringify(params), function (response) {
            if(response.resultCode == 1) { // 成功
                Materialize.toast('设置成功', 2000,'',function() {
                    window.location.reload(); //成功后刷新界面
                });
            } else { // 失败
                Materialize.toast(response.errorInfo, 3000,'');
            }
        });
    }

    function del(t) {
        Materialize.toast("为了保留数据，订单不允许删除，可以设置其状态", 3000,'');
    }
    /*]]>*/
</script>
</body>
</html>