<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>管理员首页</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/materialize.min.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/base_layout.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/login_sign.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/animation.css}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud_queue</i>基金交易系统</a>
        <ul class="right">
            <li class="active"><a th:href="@{/admin/index.html}"><i class="material-icons left">account_balance</i>当前状态</a></li>
            <li shiro:hasRole="admin_trade"><a th:href="@{/admin/trade/index.html}"><i class="material-icons left">gavel</i>业务交易</a></li>
            <li shiro:hasRole="admin_maintain"><a th:href="@{/admin/maintain/index.html}"><i class="material-icons left">view_quilt</i>业务维护</a></li>
            <li shiro:hasRole="admin_process"><a th:href="@{/admin/process/index.html}"><i class="material-icons left">call_merge</i>流程控制</a></li>
            <li shiro:hasRole="admin_user"><a th:href="@{/admin/user/index.html}"><i class="material-icons left">vpn_key</i>系统管理</a></li>
            <li th:if="${session.user != null}">
                <a class="dropdown-button nav-user" href="#!" data-activates="dropdown_id"><i class="material-icons left">person</i><span th:text="${session.user.nikename}"></span><i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown_id" class="dropdown-content">
                    <li><a th:href="@{/login.html}">重新登录</a></li>
                    <li><a th:href="@{/anon/dologout.do}">安全退出</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">个人页面</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container row" style="top:40%;">
    <span style="color:#717171; position: absolute; width: 320px; height: 100px; left:50%; margin-left:-160px; top:45%; margin-top: -50px;" class="center-align">系统正常工作中 ...</span>
    <div style="position: absolute; width: 320px; height: 100px; left:50%; margin-left:-160px; top:45%;">
    <div id="boule"></div>
    </div>
</div>


<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.metadata.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();

    });
</script>
</body>
</html>